---
layout: default
title: Pal.JS -- A broken Pal compiler
---

{% comment %}
  Use the un-minified files in development (when baseurl is explicitly left
  empty). Otherwise, assume production and use the minified files.
{% endcomment %}
{% if site.baseurl == '' %}
  <script src="pal.js"></script>
  <script src="js/pal-ui.js"></script>
{% else %}
  <script src="pal.min.js"></script>
  <script src="js/pal-ui.min.js"></script>
{% endif %}

{% include github-ribbon.html %}
<div class="content">

  <div class='workspace'>
    <div class='dashboard accent-links'>
      <a class="big-button" href='#!run'>Run</a>
    </div>

    <div class='panels clearfix'>
      <div class='panel left'>
        <div class='editor code'>
          <textarea>{% include sample.pal %}</textarea>
        </div>
      </div>

      <div class='panel right'>
        <div class='output-wrapper'>
          <div class='output active' id='console'>
            <ol class='code console-lines'> </ol>
          </div>
          <div class='output' id='js'><pre><code></code></pre>
          <div class='output' id='ast'><pre><code></code></pre></div>
        </div>
      </div>

      <nav class='output-selector'> <ul class="button-list">
          <li> <a class="active" href='#'>Console</a> </li>
          <li> <a href='#'>JS</a> </li>
          <li> <a href='#'>AST</a> </li>
      </ul> </nav>
    </div>{% comment %} /panels {% endcomment %}
  </div>

</div>{% comment %} /content {% endcomment %}
