<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/cobalt.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.1/zepto.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

  </head>
  <body>
    <div class='wrapper'>
      <header class='header clearfix'>
        <div class='logo accent-links'>
          <h1 class="logo-text"> <a href='#'>Pal.JS</a> </h1>
        </div>

        <nav class='header-nav'> 
          <ul class='curt-nav'>
            <li> <a href='#'>the language</a></li>
            <li> <a href='#'>the reason</a></li>
          </ul>
        </nav>
      </header>

      {{ content }}

      <footer class='footer'>
        <p class='credits accent-links'> Made in 2013 by <a
            href="{{ site.meta.authorsite }}">{{ site.meta.author }}</a>.</p>
      </footer>
    </div> <!-- /wrapper -->
  </body>
</html>
